head, body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  background: #000000;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('AppleSDGothicNeo.ttc') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "PEONG";
  src: url("submissions/peong.ttf") format("truetype-variations");
  font-weight: 0 130;
  font-style: normal;
}

.box-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 10vw 80vw 10vw; /* 각 행(가로줄)의 길이 */
  grid-template-rows: 7vh 86vh 7vh; /* 각 열(세로줄)의 길이 *//* 자식요소간의 간격 */
  font-family: "Noto Sans CJK KR";
}
.box-item {
  box-sizing: border-box;
  background: white;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  font-size: 16pt;
  /*border: 1px solid black;*/
  text-align: center;
}

.middle{
  line-height: 86vh;
}

@keyframes peong-animation {
      from {
        font-variation-settings: "wght" 0;
      }
      to {
        font-variation-settings: "wght" 130;
      }
    }

#VF {
  font-family: 'PEONG';
  Font-size: 360pt;
  font-variation-settings: "wght" 0;
  transition: font-variation-settings 0.3s ease;
  animation-name: peong-animation;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
