@font-face {

	font-family: SM3KGothic;
	src: url("SM3견출고딕-Regular.otf") format("opentype");
	font-style: normal;
}

html{
	box-sizing: border-box;
}


body{
	display: flex;
	flex-direction: row;
	background: white;
	a:link {color: rgba(135, 135, 135, 1); text-decoration:none;}
	a:visited {color: rgba(135, 135, 135, 1); text-decoration:none;}
}


img {
	display: block;
	width:180 px;
	height:127px;
}

.portrait img{
	width:127 px;
	height:180px;
}

.nav{
	display: flex;
	flex-direction: column;
	font-family: 'SM3KGothic';
	color: rgba(135, 135, 135, 1);
	width: 240px;
	position: fixed;
	top:36px;
	left:36px;
}

.dong{
	/*background: blueviolet;*/
	width: 180px;
	height:127px;
	border: 1px solid black;
	margin: 10px;
	text-align: center;
	position: absolute;

}


#JL{
	top: 216px;
	left: 150px;

}

#SB{
	position: absolute;
	top: 357px;
	left: 37px;

}

#GL{
	position: absolute;
	top: 112px;
	left: 461px;

}

#DA{
	position: absolute;
	top: 258px;
	left: 351px;

}

#JA{
	position: absolute;
	top: 258px;
	left: 551px;

}



.portrait {

	height: 180px;
	width:127px;
}
#AA{
	position: absolute;
	top: 407px;
	left: 586px;

}

#DS{
	position: absolute;
	top: 406px;
	left: 440px;
}

#DSM{
	position: absolute;
	top: 407px;
	left: 234px;

}

#SS{
	position: absolute;
	top: 553px;
	left: 234px;

}

#BM{
	position: absolute;
	top: 608px;
	left: 461px;

}

#SWK{
	position: absolute;
	top: 260px;
	left: 842px;

}

#HWK{
	position: absolute;
	top: 407px;
	left: 735px;

}

#JW{
	position: absolute;
	top: 239px;
	left: 1047px;

}

#SK{
	position: absolute;
	top: 406px;
	left: 939px;

}

#main{
	position: relative;
	top: 0px;
	left: 240px;
	width: calc(100vw - 276px);
	border-left: 1px dashed;
}

.featurebox{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.features{
	box-sizing: content-box;
	font-size: 12pt;
	border: 1px solid black;
	border-radius: 16px;
	padding: 5px;
	margin-top: 10px;
}

#title{
	font-size: 28pt;
	line-height: 130%;
}

#title:hover{
	color: black;
	a:hover{color:black};

}

#about{
	width: 64px;
	position: fixed;
	bottom:40px;
	left:36px;
}

#about:hover{
	background: gray;
	color: white;
}

#one{
	width: 102px;
}

#two{
	width: 102px;
}

#three{
	width: 128px;
}